.Content {
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  float: right;
  margin-right: 5%;
}

.order-processing {
  display: flex;
  align-items: right;
}
.fill-infor > .payment-form {
  margin: 10px 5px;
  padding: 10px;
}
/* nhập thông tin khách hàng khi thanh toán */
input[type="text"] {
  border: 1px solid #0002;
  margin: 4px 0 10px;
  width: 560px;
  height: 20px;
  padding: 8px;
  border-radius: 5px;
  background-color: #d2cdcd53;
}
.order-title {
  display: flex;
}

#img-product1,
#img-product2,
#img-product3,
#img-product4,
#img-product5,
#img-product6,
#img-product7,
#img-product8,
#img-product9,
#img-product10,
#img-product11 {
  position: absolute;
}
 /* background bao quanh các paymethod */
 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Optional: aligns items to the left */
  position: relative;
}

.payment-methods {
  align-items: flex-end;
  margin-right: 5%; /* Adjust as needed for spacing */
  width: 600px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  
}

.methods {
  width: 600px; 
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0; 
}
.infor {
  margin-left: 10px;
}

/* background tổng của phương thức thanh toán */
.methods-detail {
  width: 580px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #f6f6f6;
}
.methods-detail > img {
  width: 70px;
  height: auto;
}
.note {
  display: flex;
}
.methods-detail:hover {
  border: 1px solid rgba(128, 128, 128, 0.658);
}
#subname {
  font-size: 12px;
}
#dot {
  display: none;
}

.box {
  width: 20px;
  background-color: #a45d51;
  height: 20px;
  border-radius: 50%;
  margin-top: 15px;
}
#dot {
  margin-left: 400px;
}
#dot1 {
  margin-left: 385px;
  display: none;
}
#dot2 {
  margin-left: 335px;
  display: none;
}
#dot3 {
  margin-left: 365px;
  display: none;
}
.che {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}
.model {
  background-color: #6b6b6b53;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 206vh;
  z-index: 1;
  display: none;
}
.model-inner {
  width: 600px;
  height: 300px;
  position: relative;
  top: 30%;
  left: 30%;
  background-color: white;
  border-radius: 15px;
}
.model-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.model-body {
  margin: 10px;
}
.model-footer {
  margin-left: 80%;
}
button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.ho:hover {
  cursor: pointer;
}
input[type="date"] {
  border: 1px solid #0002;
  margin: 4px 0 10px;
  width: 200px;
  height: 20px;
  padding: 8px;
  border-radius: 5px;
  background-color: #d2cdcd53;
}
.datete {
  display: flex;
  justify-content: space-between;
}
.model1 {
  background-color: #6b6b6b53;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 206vh;
  z-index: 1;
  display: none;
}
.Price,
.Shipping {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-bottom: -15px;
}
.line {
  width: 600px;
  border: 1px solid rgba(112, 112, 112, 0.452);
  background-color: rgb(130, 130, 130);
}
.Total {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 80px;
}



